section {
    margin:2vh auto;
    width: 80%;
}

table, th, td {
    margin:2vh auto;
    padding:1vh;
    border:1px solid #121212;
  }

section:nth-of-type(n+1) {
    margin-bottom: 5vh;
}


@media(max-width:913px) { /* mobile */
    h1 {
        font-size: 100%;
    }
}
